<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="css/admin-table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/nav-sin-search.ejs') %>
            </div>
            <div class="container admin-container mt-5 p-4 shadow-lg">
                <a href="/admin-page/new-user" class="btn btn-success mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </a>
                <table class="table table-bordered table-striped text-center" id="users">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Username</th>
                            <th class="text-center" scope="col">Nombre Completo</th>
                            <th class="text-center" scope="col">Permisos</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach( user=> { %>
                            <tr>
                                <td>
                                    <%= user.user %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.role %>
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="/admin-page/edit-user/<%= user.id %>">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </a>

                                    <span class="me-2"></span>

                                    <button class="btn btn-danger" onclick="confirmUserDelete(this.nextElementSibling)">
                                        <i class="fa-solid fa-user-minus"></i>
                                    </button>
                                    <form id="user-delete"
                                        action="/admin-page/delete-user/<%= user.id %>?_method=DELETE" method="POST">
                                    </form>


                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>


            <%- include('../partials/footer.ejs') %>
        </div>
        <!-- Datatables -->

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#users').DataTable();
            })
        </script>
        <!-- Sweet Alerts -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.all.min.js"></script>
        <script src="/js/switch-dark.js"></script>
        <script src="/js/confirm-logout.js"></script>
        <script src="/js/confirm-user-delete.js"></script>
    </body>

    </html>