<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/nav-sin-search.ejs') %>
            </div>
            <div class="container pt-4">
                <div class="card">
                    <div class="card-header text-center h5">
                        Nuevo Usuario
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <form id="new-user-form" action="/admin-page/new-user" method="POST">
                                <%- include('user-new-form.ejs') %>
                            </form>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" onclick="confirmNewUser('#new-user-form')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd"
                                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                                Crear
                            </button>

                            <button class="btn btn-warning m-2" onclick="confirmReset('#new-user-form')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-repeat" viewBox="0 0 16 16">
                                    <path
                                        d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                </svg>
                                Reiniciar
                                formulario
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../partials/footer.ejs') %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.all.min.js"></script>
        <script src="/js/switch-dark.js"></script>
        <script src="/js/confirm-logout.js"></script>
        <script src="/js/confirm-user-new.js"></script>
        <script src="/js/confirm-reset.js"></script>
        <script src="/js/show-password.js"></script>
        <% if(alert) { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: '<%= showConfirmButton %>',
                })

                if (ruta = 'new-user') {
                    setTimeout(() => {
                        window.location = '/admin-page/new-user'
                    }, 3000)
                } else {
                    setTimeout(() => {
                        window.location = '/admin-page'
                    }, 3000)
                }
            </script>
            <% } %>
    </body>

    </html>